<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mahithsc.mini-aios-updater</string>
  <key>ProgramArguments</key>
  <array>
    <string>__UPDATER_BINARY__</string>
    <string>daemon</string>
    <string>--config</string>
    <string>__UPDATER_CONFIG__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/updater.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/updater-error.log</string>
</dict>
</plist>
